<%- include("partials/header") %>
<div class="container">
  <h2 class="mt-2 text-center">Horizons Terms & Conditions</h2>
  <p>
    By agreeing to these Terms & Conditions, you acknowledge and consent to our collection, storage, and processing of the personal information you have provided. We are committed to protecting your privacy and will not sell or duplicate any of the personal information you have entrusted to us.
  </p>
  <p>
    We will retain your data for as long as your account remains active with us. In the event that your account is suspended or terminated, we will promptly delete your personal data from our systems, in accordance with applicable laws and regulations.
  </p>
  <p>
    Please note that by using our services, you agree to abide by these Terms & Conditions.
  </p>
</div>
<%- include("partials/footer") %>